<h1>New Booking</h1>

<%= render 'form', booking: @booking %>
<!--imported bootstrap class to make the link into a button.  -->
<%= link_to 'Back', bookings_path, :class => "btn btn-info backbutton", :role => "button" %>
