/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 #footerSlideContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  left: 50%;
  transform: translate(-50%, 0);
 }
 #footerSlideButton {
   position: absolute;
   top: -55px;
   width:50px;
   height:50px;
   border: none;
   cursor: pointer;
 }

 #footerSlideContent {
   width: 100%;
   height: 0px;
   color: black;
   font-size: 0.8em;
   border: none;
   font-family: DejaVuSansBook, Sans-Serif;
 }

.booking{
  display: inherit;
  height: inherit;
  width: inherit;
}

th {
  text-align: center;
  width: 200px;
  border: 3px solid black;
  font-size: 20px;
  height:40px;
}

td {
  height: 80px;
  width: 200px;
  border: 2px solid grey;
}

tr{
 background-color: red;
 background-color: white;
}

table{
 margin: auto;
 margin-top: 41px;
 width:auto;
}

body {
 text-align: center;
}


a{
 color: blue;
 text-decoration: none;
}


.btn-info {
 color: white;
 background-color: silver;
 border-color: black;
}

h1 {
 font-size: 36px;
 background-color: silver;
 border-radius: 9px;
 text-align: center;
 color: white;
 border: 1px solid black;
}

form{
 background-color: white;
 text-align: left;
 padding: 0px 0px 10px 20px;
 margin: auto;
 display: block;
 border: 1px solid black;
 width: fit-content;
}

.backbutton{
 margin-left: 50%;
 margin-top: 64px;
}

.newroom{
border: none;
}

.newsroom{
  margin: 20px 0px;
}

.nameOfRoomInShow{
 color: white;
 background-color: silver;
 font-size: 27px;
 border-radius: 12px;
 border: 1px solid black;
 padding-left: 30px;
 margin-top: 35px;
}

.successfulBooking{
 background-color: silver;
 font-size: 43px;
 text-align: center;
 border-radius: 12px;
 margin-top: 17%;
}

#done {
 background-color: rgba(217,217,217,0.7);
}

footer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
}

.field{
 margin-top: 20px;
}

#rooms {
 border: 1px solid black;
 width:50px;
 height:50px;
}

#time {
 float: left;
 position: fixed;
}

.change {
 border: 1px solid black;
}

#weekBookingTable {
 float: right;
}

#weekDay {
 float: left;
 position: fixed;
}


#fixedDay {
 opacity: 0.7;
}

#dateSelect {
 width: 400px;
 margin:auto;
}

#fixedDay {
 opacity: 0.7;
}

.navbar1{
  margin: 25px;
  color: black;
}

nav{
  width: 100%;
  position: fixed;
  float: left;
}

#notice{
  margin: 0 0 10px;
  margin-top: 100px;
}
